*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body, html{
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 30px;
}
.container{
    border-radius: 10%;
    background-color: rgb(176, 206, 203);
    min-width: 90vw;
}
.contact{
    flex-basis: 25%;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.the-footer{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: rgb(139, 179, 202);
    padding: 15px;
    text-align: center;
}