*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body, html{
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 8%;
    font-size: 14px;
}
.container{
    border-radius: 10%;
    background-color: rgb(176, 206, 203);
    min-width: 90vw;
}
.navigation, .the-footer{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    background-color: rgb(116, 186, 226);
    position: fixed;
    text-align: center;
    min-height: 8%;
}
.nav-bar{
    flex-basis: 20%;
    padding: 10px;
    text-decoration: none;
    color: rgb(65, 63, 40);    
}
.nav-bar:hover{
    color: rgba(148, 75, 26, 0.89);
    margin-bottom: 30px;
    padding: 0px;
    transform: translate(-2px, 10px);
    font-size: 18px;
}
.contact{
    flex-basis: 25%;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.the-footer{
    bottom: 0;
    z-index: 1;
    padding-top: 10px;
}