.country__image{
	display:flex;
	justify-content: center;
}

a:link, a:visited, a:hover{
  text-decoration: none;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
}

a:hover{
  text-decoration: underline;
}

.country__name{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16pt;
  font-weight:bolder;
  text-align:center;
}

.instructions{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 9pt;
  text-align:center
}

.country__cities{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.country__landmarks{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.country__government{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}


/* .country__image img {
  display: block;
  height: auto;
  margin: auto;
  width: 90%;
}

h1 {
  font-size: 4em;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.country__information {
  display: flex;
  justify-content: space-between;
}

.country__cities {
  margin-left: 20%;
}

.country__government {
  margin-right: 20%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
} */